@import "../../../../sass/variables";

.user-settings {
  width: 60%;

  &__image {
    display: flex;
    flex-direction: row;
    margin: 15px;
    padding-right: 15px;

    img {
      border-radius: 100%;
    }

    p {
      margin-left: 15px;
      margin-top: 15px;
    }
  }

  &__account {
    display: flex;
    flex-direction: column;
    margin: 15px;

    div {
      height: 40px;
      margin-bottom: 10px;
    }

    span {
      margin-bottom: 10px;
      font-size: 2rem;
      border-bottom: 1px solid gray;
    }

    label {
      margin: 5px 0;
      font-size: 1.2rem;
    }

    input {
      background-color: $background-primary_light;
      border: $color-border-1px_light;
      border-radius: 5px;
      padding: 12px;
      outline: none;
      width: 80%;
      color: black;
    }

    button {
      width: 5rem;
      padding: 5px;
      border-radius: 5px;
      margin: 5px;
      height: 100%;
    }
  }


  &__private-info {
    margin-left: 1rem;

    label {
      margin: 5px 0;
      font-size: 1.2rem;
    }

    input {
      background-color: $background-primary_light;
      border: $color-border-1px_light;
      outline: none;
      color: black;
      border-radius: 5px;
      padding: 6px;
      padding-left: 12px;
    }

    button {
      padding: 10px;
      border-radius: 5px;
    }
  }

  &__select-container {
    display: flex;
    flex-direction: row;

    button{
      margin-left: 5px;
    }
  }

  &__select-item {
    margin-top: 30px;
    margin-right: 50px;
   
  }

  .input-group {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
  }



  &__btn-delete {
    padding: 15px;
    font-size: 1.2rem;
    outline: none;
    border-radius: 5px;
    background-color: rgb(167, 45, 45);
    border-color: rgb(167, 45, 45);
    margin-bottom: 50px;
    margin-top: 50px;
  }

  &__btn-delete:hover {
    background-color: $background-on-hover_light;
    border-color: $background-on-hover_light;
  }

}