@import "../../../../sass/variables";
@import "../../../../sass/mixins";

.user-settings {
  margin: 0 auto;
  padding-top: 24px;
  @include web-responsive();
  max-width: 685px;

  &__profile {
    display: flex;
    align-items: center;
    gap: 24px;

    &--image {
      width: 125px;
      height: 125px;
      border-radius: 50%;

      @media only screen and (max-width: #{$media-breakpoint-down-sm}) {
        width: 60px;
        height: 60px;
      }

    }

    &--info {
      display: flex;
      flex-direction: column;
      justify-content: center;

      &__name {
        font-family: 'Anek Gujarati', sans-serif;
        font-size: 18px;
        line-height: 16px;
        margin: 0;
        color: var(--color-primary);
      }

      &__desc {
        color: $color-secondary;
        margin: 12px 0;
      }
    }
  }

  &__account {
    display: flex;
    flex-direction: column;
    margin-top: 40px;

    div {
      height: 40px;
      margin-bottom: 10px;
    }

    span {
      margin-bottom: 20px;
      font-size: 2rem;
      padding-bottom: 10px;
      border-bottom: var(--color-border-1px);

      @media only screen and (max-width: #{$media-breakpoint-down-sm}) {
        font-size: 1.5rem;
        width: 80vw;
        padding-bottom: 5px;
      }

    }

    label {
      margin: 5px 0;
      font-size: 1.2rem;

      @media only screen and (max-width: #{$media-breakpoint-down-sm}) {
        font-size: 1rem;
      }
    }

    input {
      background-color: var(--background-secondary);
      border: var(--color-border-1px);
      border-radius: 5px;
      padding: 12px;
      outline: none;
      width: calc(100% - 27px);
      color: var(--color-primary);

      &::placeholder {
        color: $color-secondary;
      }

      @media only screen and (max-width: #{$media-breakpoint-down-sm}) {
        width: 75vw;
      }
    }
  }

  &__private-info {
    margin-top: 40px;

    label {
      margin: 5px 0;
      font-size: 1.2rem;

      @media only screen and (max-width: #{$media-breakpoint-down-sm}) {
        font-size: 1rem;
      }
    }

    input {
      background-color: var(--background-secondary);
      border: var(--color-border-1px);
      outline: none;
      border-radius: 5px;
      padding: 6px;
      padding-left: 12px;
      color: var(--color-primary);

      &::placeholder {
        color: $color-secondary;
      }
    }

    button {
      padding: 10px;
      border-radius: 50px;
    }
  }

  &__select-container {
    display: flex;
    gap: 35px;

    @media only screen and (max-width: #{$media-breakpoint-down-sm}) {
      flex-direction: column;
      justify-content: center;
    }

    button {
      margin-left: 5px;
    }
  }

  &__select-item {
    width: 100%;
  }

  .input-group {
    margin-top: 10px;

    input {
      width: calc(100% - 18px);
      height: 30px;
    }

    .dropdown-input {

      &__control {
        background-color: var(--background-secondary);
        border: var(--color-border-1px);
        color: var(--color-primary);
        width: 100%;
      }

      &__menu {
        background-color: var(--background-secondary);
        color: var(--color-primary);
      }

      &__option {
        background-color: var(--background-secondary);
        color: var(--color-primary);

        &--is-focused {
          background-color: var(--background-on-hover);
          color: var(--color-primary);
        }
      }

      &__input-container {
        color: var(--color-primary);
      }

      &__single-value {
        color: var(--color-primary);
      }

      &__group {
        color: gray;
      }

      &__menu-portal {
        border: var(--color-border-1px);
      }
    }
  }

  &__btn {
    padding: 15px;
    font-size: 1.2rem;
    outline: none;
    border-radius: 25px;

    &--modify {
      background-color: $color-main;
      border-color: $color-main;
      display: block;
      margin: 30px;
      margin-left: 0;
      width: 100px;


      @media only screen and (max-width: #{$media-breakpoint-down-sm}) {
        margin: 10px;
        margin-top: 30px;
      }
    }

    &--save {
      background-color: rgb(24, 90, 12);
      border-color: rgb(24, 90, 12);
      display: block;
      margin: 30px;
      margin-left: 0;
      width: 100px;

      @media only screen and (max-width: #{$media-breakpoint-down-sm}) {
        margin: 10px;
        margin-top: 30px;
      }
    }

    &--delete {
      width: 120px;
      background-color: transparent;
      border-color: rgb(247, 16, 16);
      display: block;
      margin: 30px;
      margin-left: 0;
      color: rgb(247, 16, 16);

      @media only screen and (max-width: #{$media-breakpoint-down-sm}) {
        margin: 10px;
      }
    }

    &--delete:hover {
      background-color: rgb(235, 235, 235);
      border-color: rgb(247, 16, 16);
      color: rgb(247, 16, 16);
      display: block;
      margin: 30px;
      margin-left: 0;
      opacity: 0.5;
    }
  }

  &__btn:hover {
    background-color: $background-on-hover_light;
    border-color: $background-on-hover_light;
  }
}

// ***** RESPONSIVE MOBILE*****// 


@media only screen and (max-width: #{$media-breakpoint-down-sm}) {}