@import '../../../../sass/';


.swiper-tracks-component {

  &__header {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;

    @media (max-width: $media-breakpoint-desktop-mobile) {
      margin: 15px 18px;
    }

    &--title {
      text-transform: capitalize;
      display: inline;
      margin: 0;
      font-size: 24px;
      font-family: 'Anek Gujarati', sans-serif;
    }

    &--btn {
      display: flex;
      justify-content: space-between;
      width: 80px;
    }
  }

  &__container {
    margin: 0;
    margin-bottom: 3rem;

    .swiper {
      width: 100%;
      height: 100%;
      margin-left: auto;
      margin-right: auto;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      // background: #fff;
      height: calc((100% - 30px) / 3) !important;

      /* Center slide text vertically */
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}