@import '../../../../../sass/variables.scss';
@import '../../../../../sass/mixins.scss';

.library-upload {
  margin: 0 auto;
  padding: 34px;
  padding-top: 10px;
  max-width: 1504px;

  &__buttons {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;

    &--play {
      @include buttonPrimary(fit-content);
    }

    &--upload {
      @include buttonPrimary(fit-content);
      color: var(--color-primary);
      background-color: var(--background-button-gray);

      &:hover {
        background-color: $color-secondary;
      }
    }
  }

  @media (max-width: $media-breakpoint-desktop-mobile) {
    padding: 0 18px;
  }
}

.ant-upload-list {
  display: none;
}

.modal-upload-song {
  width: 100%;

  h2 {
    font-family: 'Anek Gujarati', sans-serif;
    font-size: 32px;
    line-height: 24px;
    margin: 0;
    text-align: center;
    color: var(--color-primary);
    margin: 28px 0;
    margin-bottom: 40px;
  }

  @media (max-width: 600px) {
    h2 {
      font-size: 28px;
      line-height: 20px;
    }
  }

  &__main {
    display: flex;
    gap: 24px;
    width: 100%;
    margin-bottom: 40px;

    @media (max-width: 600px) {
      flex-direction: column;
      align-items: center;
    }

    img {
      width: 60px;
      height: 60px;
      border-radius: 4px;
      box-shadow: 0 1px 6px rgba(25, 25, 34, .16);

      @media (max-width: 600px) {
        width: 60px;
        height: 60px;
      }
    }

    &--content {
      display: flex;
      justify-content: space-evenly;
      gap: 24px;
      width: 100%;

      &__name-input {
        width: 20%;

        label {
          display: block;
          color: $color-secondary;
          font-size: 16px;
          font-weight: 400;
          margin-bottom: 6px;
        }

        input {
          width: -webkit-fill-available;
          padding: 14px;
          color: var(--color-primary);
          font-size: 16px;
          font-weight: 400;
          background-color: var(--background-primary);
          border: 1px solid $color-secondary;
          border-radius: 4px;

          &::placeholder {
            color: $color-secondary;
          }
        }
      }
    }
  }
}