@import '../../../../../sass/variables.scss';
@import '../../../../../sass/mixins.scss';

.library-upload {
  margin: 0 auto;
  padding: 34px;
  padding-top: 10px;
  max-width: 1504px;

  h1 {
    text-transform: capitalize;
    font-size: 24px;
    font-family: "Anek Gujarati", sans-serif;
    margin: 15px 0;
  }

  &__buttons {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;

    &--play {
      @include buttonPrimary(fit-content);
      justify-content: space-between;
      padding: 0 15px;
      min-width: 105px;

      @media (max-width: 500px) {
        order: 2;
      }

      div {
        display: flex;
        align-items: center;
        width: 100%;
      }
    }

    &--upload {
      @include buttonPrimary(fit-content);
      color: var(--color-primary);
      background-color: var(--background-button-gray);

      &:hover {
        background-color: $color-secondary;
      }
    }
  }

  @media (max-width: $media-breakpoint-desktop-mobile) {
    padding: 0 18px;
  }
}