@import "../../../../sass/";

.playlist-page-content {
  margin: 0 auto;
  padding: 34px;
  padding-top: 10px;
  max-width: 1504px;

  @media (max-width: $media-breakpoint-desktop-mobile) {
    padding: 18px;
    padding-top: 0;
  }

  h1 {
    font-size: 25px;
    padding: 0px;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    @include fadeIn();


    @media (max-width: 1300px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__mobile {
    display: inline-flex;
    align-items: center;
    gap: 18px;
    height: 56px;
    text-decoration: none;
    color: var(--color-primary);

    span {
      font-size: 18px;
      font-weight: 500;
    }
  }
}