@mixin titleH1() {
    color: $font-primary-dark;
    font-weight: bold;
    font-size: 1.6em;

    @media (min-width: $media-breakpoint-up-sm) {
        font-size: 1.7em;
    }

    @media (min-width: $media-breakpoint-up-md) {
        font-size: 1.9em;
    }
}

@mixin anchorText() {
    color: $color-main;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        color: $color-main-hover;
    }
}
