/* COLORS */
$color-primary_light: #191919;
$color-primary_dark: #fff;

$color-secundary: #a2a2ad;

/* BACKGROUND COLORS */
$color-primary-bg_light: #fff;
$color-primary-bg_dark: #121216;

/* BORDERS */
$color-border-1px_light: 1px solid #eaeaea;
$color-border-1px_dark: 1px solid #32323d;


/* MEDIA QUERYS */
// Responsesive down size
$media-breakpoint-down-xs: 413.98px;
$media-breakpoint-down-sm: 573.98px;
$media-breakpoint-down-md: 767.98px;
$media-breakpoint-down-lg: 991.98px;
$media-breakpoint-down-xl: 1199.98px;
$media-breakpoint-down-xxl: 1699.98px;

// Responsive up size
$media-breakpoint-up-xs: 320px;
$media-breakpoint-up-sm: 576px;
$media-breakpoint-up-md: 768px;
$media-breakpoint-up-lg: 992px;
$media-breakpoint-up-xl: 1200px;
$media-breakpoint-up-xxl: 1600px;