/* COLORS */
$color-primary_light: #f1f;
$color-primary_dark: #1f1;

$color-primary-btn_dark: #EF5466;



/* MEDIA QUERYS */
// Responsesive down size
$media-breakpoint-down-xs: 413.98px;
$media-breakpoint-down-sm: 573.98px;
$media-breakpoint-down-md: 767.98px;
$media-breakpoint-down-lg: 991.98px;
$media-breakpoint-down-xl: 1199.98px;
$media-breakpoint-down-xxl: 1699.98px;

// Responsive up size
$media-breakpoint-up-xs: 320px;
$media-breakpoint-up-sm: 576px;
$media-breakpoint-up-md: 768px;
$media-breakpoint-up-lg: 992px;
$media-breakpoint-up-xl: 1200px;
$media-breakpoint-up-xxl: 1600px;