/* COLORS */
$color-primary_light: #191919;
$color-primary_dark: #fff;

$color-secundary: #a2a2ad;

$color-main: #ef5466;


/* BACKGROUND COLORS */
$background-primary_light: #fff;
$background-primary_dark: #121216;

$background-secundary_light: #fff;
$background-secundary_dark: #23232d;


/* BORDERS */
$color-border-1px_light: 1px solid #eaeaea;
$color-border-1px_dark: 1px solid #32323d;


/* BUTTON HOVER BACKGROUND COLORS */
$background-on-hover_light: #eaeaea;
$background-on-hover_dark: #42424c;

/* BUTTON HOVER BACKGROUND COLORS */
$popper-shadow_light: 0 4px 20px 0 #1919223d;
$popper-shadow_dark: 0 4px 20px 0 #0000003d;


/* MEDIA QUERYS */
// Responsesive down size
$media-breakpoint-down-xs: 413.98px;
$media-breakpoint-down-sm: 573.98px;
$media-breakpoint-down-md: 767.98px;
$media-breakpoint-down-lg: 991.98px;
$media-breakpoint-down-xl: 1199.98px;
$media-breakpoint-down-xxl: 1699.98px;

// Responsive up size
$media-breakpoint-up-xs: 320px;
$media-breakpoint-up-sm: 576px;
$media-breakpoint-up-md: 768px;
$media-breakpoint-up-lg: 992px;
$media-breakpoint-up-xl: 1200px;
$media-breakpoint-up-xxl: 1600px;


/* DATA THEME */

html[data-theme='light'] {
    --color-primary: #{$color-primary_light};
    --color-border-1px: #{$color-border-1px_light};
    --background-on-hover: #{$background-on-hover_light};
    --background-primary: #{$background-primary_light};
    --background-secundary: #{$background-secundary_light};
    --popper-shadow: #{$popper-shadow_light};

}

html[data-theme='dark'] {
    --color-primary: #{$color-primary_dark};
    --color-border-1px: #{$color-border-1px_dark};
    --background-on-hover: #{$background-on-hover_dark};
    --background-primary: #{$background-primary_dark};
    --background-secundary: #{$background-secundary_dark};
    --popper-shadow: #{$popper-shadow_dark};
}