@import '../../../../sass/variables';
@import '../../../../sass/animation';

.artist-carousel {
  &__title {
    font-size: 24px;
    font-family: 'Anek Gujarati', sans-serif;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 15px;
    margin-bottom: 6rem;
    padding: 50px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.575);  
   

    &--thumbnail {
    display: inline-block;
    position: relative;
    cursor: pointer;

    &:hover {
      img {
        opacity: 0.7;
      }
    }

      img {
        box-shadow: 0 1px 6px rgba(25,25,34,.16);
        border-radius: 100%;
      }

      &__btn {
        display: flex;
        position: absolute;
        left: 112px;
        bottom: 112px;
        gap: 10px;

        &--play {
          display: flex;
          justify-content: center;
          align-items: center;
          color: var(--color-primary);
          background: none;
          border: 0;
          margin: 0;
          padding: 15px;
          cursor: pointer;
          background-color: rgba(255, 255, 255, 0.500);
          border-radius: 50%;
          box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),0 2px 4px -1px rgba(0, 0, 0, 0.06);

          svg {
            height: 20px;
            width: 20px;
          }

          &:hover {
            background-color: #f4f4f4;
            border-radius: 100%; 
          }
        }
      }
    }

    &--description {
      display: block;
      font-weight: 700;
      color: var(--color-primary);
      text-decoration: none;
    }
  }
}