@import '../../../../../sass/variables';
@import '../../../../../sass/mixins';

.page-player-mobile {
  position: fixed;
  bottom: 60px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  padding: 2px;
  margin: 0;
  border-top: var(--color-border-1px);
  border-bottom: var(--color-border-2px);
  background: var(--background-gradient);
  z-index: 11;
}

.player-bottom-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.player-bottom-controls-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__btn {
    color: #fff;
    background: none;
    border: 0;
    cursor: pointer;

    svg {
      height: 35px;
      width: 35px;
    }
  }

  &__controls-action {
    color: #fff;
    background: none;
    border: 0;
    cursor: pointer;

    svg {
      height: 45px;
      width: 45px;
    }
  }
}

.player-bottom-track-mobile {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  padding: 10px 15px;
  color: #fff;
  height: 100%;
  cursor: pointer;

  &__title {
    font-weight: 700;
  }

  &___artist {
    font-weight: 400;
  }
}
