@import '../../../../../sass/';

.genres-carousel {
  margin: 0 auto;

  &__head {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
    margin-bottom: 15px;
    padding: 0;

    @media (max-width: $media-breakpoint-desktop-mobile) {
      margin: 15px 18px;
    }

    &--title {
      display: inline;
      margin: 0;
      font-size: 24px;
      font-family: 'Anek Gujarati', sans-serif;
    }

    &--btn {
      display: flex;
      justify-content: space-between;
      width: 80px;

      &__prev {
        display: flex;
        @include simple-btn-with-hover(18px, 18px, 10px);
      }

      &__next {
        display: flex;
        @include simple-btn-with-hover(18px, 18px, 10px);
      }
    }
  }

  &__container {
    margin-bottom: 2rem;

    @media (max-width: $media-breakpoint-desktop-mobile) {
      margin-bottom: 3rem;
    }
  }
}