@import "../../../../sass/variables";

.track-list-item {
  font-size: 17px;

  img {
    width: 50px;
  }

  &__td-track {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  &__td-icon-item {
    font-size: 20px;
  }

  &__td-icon-heart {
    fill: rgb(231, 59, 59);
  }
}
