@import "../../../../sass/variables";

.tracklist-component {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: var(--color-border-1px);
  border-width: 2px;


  &__sections {
    display: grid;
    grid-template-columns: 1.5fr 190px 1fr 1fr 80px;
    align-items: center;  
    justify-content: space-between;
    width: 100%;
    margin-left: 12px;
    margin-bottom: 20px;

    &--icontime {
      display: flex;
      justify-content: center;
    }

    p {
      display: inline;
      color: $color-secondary;
      font-weight: 400;
      margin: 0;
      padding: 0;
      margin-right: 10px;
    }
  }
}