@import "../../../../sass/variables";

.tracklist-component {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: var(--color-border-1px);
  border-width: 2px;


  &__sections {
    display: grid;
    grid-template-columns: 1.5fr 145px 1fr 1fr 80px;
    align-items: center;  
    justify-content: space-between;
    width: 100%;
    margin-left: 12px;
    margin-bottom: 20px;

    &--icontime {
      display: flex;
      justify-content: center;
    }
  }
}