@import '../../../../sass/variables';

.artist-layout {
  margin: 0 auto;
  padding: 34px;
  max-width: 1504px;

  @media (max-width: $media-breakpoint-desktop-mobile) {
    padding: 0;

    .mobile-track-component {
      .track-list-item-mobile {
        padding: 10px 18px !important;
      }
    }
  }

  @media (max-width: 1024px) {
    .mobile-track-component {
      .track-list-item-mobile {
        padding: 10px 0;
      }
    }
  }
}