@import "../../../../../../sass/variables";
@import "../../../../../../sass/mixins";


.render-playlist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;

  &__thumbnail {
    display: inline-block;
    position: relative;
    cursor: pointer;

    &:hover {
      img {
        opacity: 0.7;
      }
    }

    &--picture {
      img {
        filter: brightness(90%);
        width: 100%;
        box-shadow: 0 1px 6px rgba(25, 25, 34, .16);
        border-radius: 4px;
        line-height: 0;
        text-indent: -999em;

        &::after {
          content: '';
          display: block;
          width: 100%;
          box-shadow: 0 1px 6px rgba(25, 25, 34, .16);
          background-image: url('../../../../../../assets/img/webp/disc250.webp');
          background-position: center;
          background-size: cover;
          padding: 50% 0;
          position: relative;
        }
      }
    }

    &--btn {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;


      &__play {
        @include carousel-thumbnail-btn();
      }
    }



    &--logo-daily {
      display: flex;
      align-items: center;
      gap: 5px;
      position: absolute;
      left: 20px;
      bottom: 15px;

      @media (max-width: $media-breakpoint-desktop-up-sm) {
        left: 10px;
        bottom: 5px;
      }

      img {
        width: 28px;
        height: 100%;

        @media (max-width: $media-breakpoint-desktop-up-sm) {
          width: 18px;
          height: 100%;
        }
      }

      &__description {
        margin: 0;
        font-size: 28px;
        font-weight: 700;
        color: #fff;
        text-decoration: none;

        @media (max-width: $media-breakpoint-desktop-up-sm) {
          font-size: 18px;
        }
      }
    }
  }

  &__description {
    margin: 0;
    margin-top: 5px;
    font-size: 14px;
    font-weight: 400;
    color: var(--color-primary);
    text-decoration: none;
    height: 20px;
    overflow-y: hidden;
  }

  &__details {
    font-size: 12px;
    font-weight: 400;
    color: $color-secondary;
    text-decoration: none;
    margin: 0;
  }
}