@import '../../../../../../sass/variables';
@import '../../../../../../sass/mixins';

.modal-song-close {
  opacity: 0;
}

.modal-song-open {
  opacity: 1;
}

.modal-upload-song {
  width: 100%;
  max-width: 800px;
  border: none !important;
  border-radius: 8px;
  background-color: var(--background-secondary);
  padding: 1rem 24px;
  transition: all 0.4s;

  &::backdrop {
    background-color: rgba(0, 0, 0, 0.45);
  }

  &--content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;

    h2 {
      font-family: 'Anek Gujarati', sans-serif;
      font-size: 32px;
      line-height: 24px;
      margin: 0;
      text-align: center;
      color: var(--color-primary);
      margin: 28px 0;
      margin-bottom: 40px;

      @media (max-width: 600px) {
        font-size: 28px;
        line-height: 20px;
      }
    }

    &__close {
      position: absolute;
      top: 20px;
      right: 20px;
      @include simple-btn-with-hover();
    }

    &__main {
      display: flex;
      align-items: flex-end;
      gap: 24px;
      width: 100%;
      margin-bottom: 40px;

      @media (max-width: 600px) {
        flex-direction: column;
        align-items: center;
      }

      img {
        width: 60px;
        height: 60px;
        border-radius: 4px;
        box-shadow: 0 1px 6px rgba(25, 25, 34, .16);

        @media (max-width: 600px) {
          width: 60px;
          height: 60px;
        }
      }

      &--content {
        display: flex;
        justify-content: space-evenly;
        gap: 24px;
        width: 100%;

        &__name-input {
          width: 70%;

          label {
            display: block;
            color: $color-secondary;
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 6px;
          }

          input {
            width: -webkit-fill-available;
            padding: 14px;
            color: var(--color-primary);
            font-size: 16px;
            font-weight: 400;
            background-color: var(--background-primary);
            border: 1px solid $color-secondary;
            border-radius: 4px;

            &::placeholder {
              color: $color-secondary;
            }
          }
        }

        &__artist-input {
          width: 25%;

          label {
            display: block;
            color: $color-secondary;
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 6px;
          }

          input {
            width: -webkit-fill-available;
            padding: 14px;
            color: var(--color-primary);
            font-size: 16px;
            font-weight: 400;
            background-color: var(--background-primary);
            border: 1px solid $color-secondary;
            border-radius: 4px;

            &::placeholder {
              color: $color-secondary;
            }
          }
        }
      }
    }

    &__save {
      @include buttonPrimary();
      margin: 28px 0;
      text-transform: uppercase;
    }
  }
}