@import '../../../sass/variables';

.basic-layout__main {
  position: relative;
  top: 57px;
  display: flex;
  justify-content: center;
  margin-left: 212px;
  padding-bottom: 81px;

  @media (max-width: $media-breakpoint-desktop-mobile) {
    margin: 0;
    padding-bottom: 120px;
  }

  &--content {
    width: 100%;
    color: var(--color-primary);
  }
}