@import '../../../sass/';


.swiper-component {

  &__header {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;

    &--title {
      text-transform: capitalize;
      display: inline;
      margin: 0;
      font-size: 24px;
      font-family: 'Anek Gujarati', sans-serif;
    }

    &--btn {
      display: flex;
      justify-content: space-between;
      width: 80px;
    }
  }

  &__container {
    margin: 0;
  }
}


.swiper-carousel {
  width: 100%;
}

.swiper-carousel-button-prev {
  display: flex;
  @include simple-btn-with-hover(18px, 18px, 10px);
}

.swiper-carousel-button-next {
  display: flex;
  @include simple-btn-with-hover(18px, 18px, 10px);
}

.swiper-button-disabled {
  opacity: 0.25;
  cursor: not-allowed;
}