@import '../../../../../sass/variables';
@import '../../../../../sass/mixins';

.player-track-details-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 120;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9F4D44;
  color: rgb(226, 226, 226);
  background-image: linear-gradient(to bottom, rgba(209, 87, 86, 1), #1f0f0d);

  &__track-info {
    display: flex;
    flex-direction: column;
    width: calc(100vw - 2rem);
    height: 100vh;
    max-width: 395px;
    justify-content: space-between;
    padding: 1rem 0 2rem;
    gap: 8px;

    &__close {
      display: grid;
      grid-template-columns: 45px 1fr 45px;
      align-items: center;
      padding: 0.2rem;
      color: white;

      p {
        font-size: 1.3rem;
        margin: 0;
        text-align: center;
        width: 100%;
      }

      button {
        background: none;
        border: none;
        font-size: 2rem;
        color: inherit;
        cursor: pointer;
      }
    }

    &__img {
      width: 260px;
      height: auto;
      display: block;
      margin: 0 auto;
      margin-bottom: 1rem;
      border-radius: 8%;
    }

    &__track-time {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      margin: 1rem;
      margin-top: 2rem;

      &__timedata {
        display: flex;
        justify-content: space-between;
        font-size: 1rem;
        width: 100%;
      }

      .progress-bar {
        width: 100%;
      }
    }

    &__data {
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 6px;

      &__nameBig {
        font-size: 1.3rem;
        font-weight: bold;
        margin-bottom: 0;
        text-align: center;
      }

      &__info {
        font-size: 1rem;
        display: flex;
        gap: 5px;

        p {
          margin: 0;
          text-align: center;
        }
      }
    }

    &__player-bottom-controls {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 1rem;

      button {
        background: none;
        border: none;
        color: inherit;
        cursor: pointer;
        margin: 0 0.5rem;
      }

      &__like {
        font-size: 2rem;
        margin-right: 0.5rem;
      }

      &__orden {
        font-size: 2rem;
      }

      &__change {
        font-size: 3rem;
      }

      &__play {
        font-size: 5rem;
      }

      &__add {
        font-size: 2.3rem;
        margin-left: 0.5rem;
      }
    }

    &__add-bottom {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      background: none;
      border: none;

      p {
        margin: 0;
        font-size: 1rem;
      }

      button {
        background: none;
        border: none;
        font-size: 1.5rem;
        color: inherit;
        cursor: pointer;
      }

      &__right {
        display: flex;
        flex-direction: row;
      }

      &__queue-list {
        display: flex;
        flex-direction: row;
      }
    }
  }
}
