@import '../../../../../sass/variables';
@import '../../../../../sass/mixins';

.player-track-details-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(+100%);
  transition: all 0.4s;
  background-color: #9F4D44;
  background-image: linear-gradient(to bottom, rgba(209, 87, 86, 1), #1f0f0d);

  &__track-info {
    padding: 1rem;
    width: calc(100vw - 2rem);
    height: 100vh;
    max-width: 450px;
    margin-top: 2rem;

    &__close {
      display: flex;
      justify-content: left;
      align-items: center;
      padding: 0.2rem;
      color: white;
      gap: 25%;
      margin-top: 1rem;

      p {
        font-size: 1.3rem;
        margin: auto 0;
      }

      button {
        background: none;
        border: none;
        font-size: 2rem;
        color: inherit;
        cursor: pointer;
      }
    }

    &__img {
      width: 300px;
      height: auto;
      display: block;
      margin: 0 auto;
      margin-top: 3rem;
      margin-bottom: 1rem;
    }

    &__track-time {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      margin-top: 1rem;

      &__timedata {
        font-size: 1rem;
        display: flex;
        flex-direction: row;
        gap: 20rem;
      }
    }

    &__data {
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &__nameBig {
        font-size: 1.3rem;
        font-weight: bold;
        margin-bottom: 0;
      }

      &__info {
        font-size: 1rem;
        display: flex;
        flex-direction: row;
      }
    }

    &__player-bottom-controls {
      display: flex;
      justify-content: center;
      justify-content: center;
      align-items: center;
      margin-top: 1rem;

      button {
        background: none;
        border: none;
        color: inherit;
        cursor: pointer;
        margin: 0 0.5rem;
      }

      &__like {
        font-size: 2rem;
        margin-right: 0.5rem;
      }

      &__orden {
        font-size: 2rem;
      }

      &__change {
        font-size: 3rem;
      }

      &__play {
        font-size: 5rem;
      }

      &__add {
        font-size: 2.3rem;
        margin-left: 0.5rem;
      }
    }

    &__add-bottom {
      margin-top: 5rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      background: none;
      border: none;

      p {
        margin: 0;
        font-size: 1rem;
      }

      button {
        background: none;
        border: none;
        font-size: 1.5rem;
        color: inherit;
        cursor: pointer;
      }

      &__right {
        display: flex;
        flex-direction: row;
      }

      &__queue-list {
        display: flex;
        flex-direction: row;
      }
    }
  }
}

.container--open {
  transform: translateY(0%);
}