@import "../../../../../sass/variables";

.track-list {
  display: flex;
  align-items: center;
  margin: 5px;
  width: 100%;
  margin-top: 10px;

  &:hover {

    .track-list--item {
      border-radius: 5px;
      background:
        /* rgba(128, 128, 128, 0.259) */
        var(--background-on-hover);
    }

    .track-list--item__icons {
      opacity: 1;
    }
  }


  &--item {
    display: grid;
    grid-template-columns: repeat(4, 1fr) 80px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 17px;

    img {
      border-radius: 5px;
      width: 50px;
    }

    &__track {


      span {
        margin: 6px;
      }

      &--index {}

      &--img {}

      &--name {}
    }

    &__icons {
      display: flex;
      justify-content: flex-end;
      margin-right: 10px;
      gap: 20px;
      opacity: 0;

      &--heart {
        display: flex;
        align-items: center;
      }

      &--download {
        margin-right: 20px;
      }
    }

    &__artist {
      // display: flex;
      // justify-content: end;
    }

    &__album {
      // display: flex;
      // justify-content: end;
    }

    &__time {
      display: flex;
      justify-content: flex-end;
      margin-right: 30px;
    }
  }
}