@import "../../../../../sass/variables";

.track-list {
  display: flex;
  align-items: center;
  margin: 5px;
  width: 100%;

  &:hover {

    .track-list--item {
      border-radius: 5px;
      background:
        var(--background-on-hover);
    }

    .track-list--item__track--img__btn {
      display: flex;
      cursor: pointer;
    }

    .track-list--item__icons {
      opacity: 1;
    }
  }

  &--item {
    display: grid;
    grid-template-columns: 1.5fr 190px 1fr 1fr 80px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 17px;
    padding: 10px 0;

    img {
      filter: brightness(90%);
      width: 50px;
      box-shadow: 0 1px 6px rgba(25, 25, 34, .16);
      border-radius: 4px;
      line-height: 0;
      text-indent: -999em;
      transition: all 0.4s;

      &::after {
        content: '';
        display: block;
        width: 100%;
        box-shadow: 0 1px 6px rgba(25, 25, 34, .16);
        background-image: url('../../../../../assets/img/webp/disc250.webp');
        background-position: center;
        background-size: cover;
        padding: 50% 0;
        position: relative;
      }
    }

    &__track {
      cursor: pointer;
      height: 50px;
      overflow-y: hidden;

      &--index {
        color: $color-secondary;
        font-weight: 400;
      }

      &--img {
        position: relative;

        &__btn {
          display: none;
          justify-content: center;
          align-items: center;
          margin: auto;
          position: absolute;
          top: 5px;
          left: 0;
          bottom: 0;
          right: 0;

          button {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 5px;
            border: 0;
            border-radius: 50%;
            background-color: var(--background-secondary);
            cursor: pointer;
            transition: all 0.4s;

            svg {
              height: 20px;
              width: 20px;
            }
          }
        }
      }

      span {
        margin: 6px;
      }
    }

    &__icons {
      display: flex;
      justify-content: flex-end;
      margin-right: 10px;
      gap: 20px;
      opacity: 0;
      color: #a2a2ad;

      &--heart {
        display: flex;
        gap: 3px;
      }

      &--download {
        margin-right: 20px;
      }

      button {
        display: flex;
        justify-content: center;
        align-items: center;
        background: none;
        border: 0;
        cursor: pointer;
      }
    }

    &__time {
      display: flex;
      justify-content: center
    }
  }
}

.track-item-component-add-to-playlist {
  width: 330px;
  height: 233px;
  color: var(--color-primary);

  &__add {
    display: flex;
    align-items: center;
    padding: 12px 0;
    color: $color-main;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

    svg {
      margin-left: 16px;
    }

    span {
      margin: 0 16px;
    }

    &:hover {
      background-color: var(--background-on-hover);
      cursor: pointer;
    }
  }

  &__results {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 183px;

    p {
      margin: 0;
      padding: 12px 16px;
      font-weight: 700;

      &:hover {
        background-color: var(--background-on-hover);
        cursor: pointer;
      }
    }
  }
}

.track-item-component-add-to-playlist-without-login {
  padding: 20px;
  width: 200px;
  color: var(--color-primary);
}