@import '../../../../../sass/variables';
@import '../../../../../sass/mixins';

.library-favTracks {
  margin: 0 auto;
  padding: 34px;
  padding-top: 10px;
  max-width: 1504px;

  h1 {
    text-transform: capitalize;
    font-size: 24px;
    font-family: "Anek Gujarati", sans-serif;
    margin: 15px 0;
  }

  button {
    @include buttonPrimary(fit-content);
    margin-bottom: 1rem;
  }



  @media (max-width: $media-breakpoint-desktop-mobile) {
    padding: 0;
    margin-top: 24px;

    &__head {
      padding: 0 18px;
    }
  }
}