@import '../../../../../sass/variables';
@import '../../../../../sass/mixins';

.library-favTracks {
  margin: 0 auto;
  padding: 34px;
  padding-top: 10px;
  max-width: 1504px;

  button {
    @include buttonPrimary(fit-content);
    margin-bottom: 1rem;
  }

  @media (max-width: $media-breakpoint-desktop-mobile) {
    padding: 0 18px;
  }
}