@import '../../../../../../sass/variables';

.progress-bar {
  &__range {
    width: 100%;
    cursor: pointer;
  }
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  cursor: pointer;
  outline: none;
  border-radius: 15px;
  height: 2px;
  background: #52525d;

  @media (max-width: $media-breakpoint-desktop-mobile) {
    height: 4px;
    border-radius: 0;
  }
}

input[type="range"]:hover {
  height: 5px;

  @media (max-width: $media-breakpoint-desktop-mobile) {
    height: 4px;
  }
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 15px;
  width: 15px;
  background-color: #fff;
  border-radius: 50%;
  border: none;
  box-shadow: 0 0 0 1px gray;
  transition: .2s ease-in-out;

  @media (max-width: $media-breakpoint-desktop-mobile) {
    height: 0;
    width: 0;
    box-shadow: none;
  }
}

input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 15px;
  width: 15px;
  background-color: #fff;
  border-radius: 50%;
  border: none;
  box-shadow: 0 0 0 1px gray;
  transition: .2s ease-in-out;

  @media (max-width: $media-breakpoint-desktop-mobile) {
    height: 0;
    width: 0;
    box-shadow: none;
  }
}

input[type="range"]:focus::-webkit-slider-thumb {
  height: 15px;
  width: 15px;
  background-color: #fff;
  border-radius: 50%;
  border: none;
  box-shadow: 0 0 0 1px gray;
}

input[type="range"]:focus::-moz-range-thumb {
  height: 15px;
  width: 15px;
  background-color: #fff;
  border-radius: 50%;
  border: none;
  box-shadow: 0 0 0 1px gray;
}