@import '../../../../../../sass/variables';

.track-list-modal-mobile {
  position: fixed;
  top: 34%;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
  border-radius: 25px;
  box-shadow: var(--popper-shadow);
  background-color: var(--background-secondary);

  &__wrapper {
    width: 100%;
    padding: 34px;
  }
}

.active-track-modal-mobile {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: 500ms ease;
}

.off-track-modal-mobile {
  opacity: 0;
  visibility: hidden;
  transform: translateY(100%);
  transition: 500ms ease;
}