@import '../../../../sass/variables';

.music-page {
  margin: 0 auto;
  padding: 34px;
  padding-top: 10px;
  max-width: 1504px;

  @media (max-width: $media-breakpoint-desktop-mobile) {
    padding: 0;
    padding-top: 4px;
  }

  h1 {
    display: inline;
    margin: 0 18px;
    margin-bottom: 4px;
    font-size: 32px;
    font-family: 'Anek Gujarati', sans-serif;
    line-height: 56px;
  }
}