@import "../../../../../sass/variables";
@import "../../../../../sass/mixins";

.track-list-item-mobile {
  display: flex;
  justify-content: space-between;
  padding: 10px 18px;
  height: 95px;
  
  &__content {
    display: flex;
    width: 100%;
    cursor: pointer;

    img {
      border-radius: 12px;
    }

    &--text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 4px;
      margin-left: 8px;

      div {
        font-size: 18px;
        font-weight: 400;
      }

      span {
        color: $color-secondary;
        font-weight: 400;
      }
    }
  }

  &__icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 75px;
    margin-left: 15px;

    &--play {
      display: flex;
      justify-content: center;
      align-items: center;
      color: $color-secondary;
      background: none;
      border: 0;
      cursor: pointer;

      svg {
        height: 32px;
        width: 32px;
      }
    }

    &--dots {
      color: $color-secondary;
      cursor: pointer;
      height: 32px;
      width: 32px;
    }
  }
}