@import "../../../../sass/";

.artists-page-content {
  width: fit-content;
  margin: 0 auto;
  padding-top: 24px;

	h1 {
		font-size: 25px;
    padding: 0px;
	}

	&__grid {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
    gap: 30px;
		@include fadeIn();
    @include web-responsive();

		@media (max-width: 1300px) {
			grid-template-columns: repeat(3, 1fr);
		}
	}
}