@import '../../../../sass/variables';
@import '../../../../sass/mixins';

@mixin backlight($x, $y, $spread, $size, $colorA, $colorB, $duration) {
  &:after {
    position: absolute;
    content: "";
    top: $y;
    left: $x;
    right: 0;
    z-index: -1;
    height: 90%;
    width: 60%;
    margin: 0 auto;
    transform: scale($size);
    -webkit-filter: blur($spread);
    -moz-filter: blur($spread);
    -ms-filter: blur($spread);
    filter: blur($spread);
    background: linear-gradient(270deg, $colorA, $colorB);
    background-size: 200% 200%;
    animation: animateGlow $duration ease infinite;

    @keyframes animateGlow {
      0% {
        background-position: 0% 50%
      }

      50% {
        background-position: 100% 50%
      }

      100% {
        background-position: 0% 50%
      }
    }
  }

  @media (max-width: $media-breakpoint-desktop-mobile) {
    &:after {
      position: absolute;
      top: 0;
      left: -15px;
      z-index: -1;
      width: calc(100% + 40px);
      height: calc(95% + 20px);
      margin: 0 auto;
      transform: scale($size);
      -webkit-filter: blur($spread);
      -moz-filter: blur($spread);
      -ms-filter: blur($spread);
      filter: blur($spread);
      background: linear-gradient(270deg, $colorA, $colorB);
      animation: animateGlow $duration ease infinite;

      @keyframes animateGlow {
        0% {
          background-position: 0% 50%
        }

        50% {
          background-position: 100% 50%
        }

        100% {
          background-position: 0% 50%
        }
      }
    }
  }
}

.errorPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.errorPage-container {
  margin-top: 10rem;

  @media (max-width: $media-breakpoint-desktop-mobile) {
    margin-top: 2rem;
  }


  &__context {
    margin-top: 5rem;
    padding-top: 3rem;
    width: 45vw;
    height: 30vw;
    text-align: center;
    color: #252B37;
    border-radius: 15px;
    background-color: var(--library-header-background);
    animation: textColor 10s ease infinite;
    @include backlight(0, 5vw, 5vw, 0.75, #759fe0, #7e0fff, 10s);

    @keyframes textColor {
      0% {
        color: #e3298a;
      }

      50% {
        color: #457ed3;
      }

      100% {
        color: #e3298a;
      }
    }

    @media (max-width: $media-breakpoint-desktop-mobile) {
      margin-top: 5rem;
      width: 70vw;
      height: 100vw;
      text-align: center;
      color: #252B37;
      border-radius: 15px;
      background-color: var(--library-header-background);
      animation: textColor 10s ease infinite;
      padding: 1rem;
      padding-top: 5rem;
      @include backlight(0, 5vw, 5vw, 0.70, #759fe0, #7e0fff, 10s);

      @keyframes textColor {
        0% {
          color: #e3298a;
        }

        50% {
          color: #457ed3;
        }

        100% {
          color: #e3298a;
        }
      }



    }

    button {
      @include buttonPrimary(fit-content);
      margin-top: 5rem;

      @media (max-width: $media-breakpoint-desktop-mobile) {
        font-size: 1rem;
        margin-top: 3rem;
      }
    }

    &__span {
      font-size: 10rem;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-weight: bold;

      @media (max-width: $media-breakpoint-desktop-mobile) {
        font-size: 2.5rem;
        font-weight: bold;

      }
    }

    &__h1 {
      margin-top: 5rem;
      font-size: 2.2rem;

      @media (max-width: $media-breakpoint-desktop-mobile) {
        font-size: 1.5rem;
        margin-top: 5rem;
      }
    }

    &__p {
      margin-top: 1rem;
      font-size: 1.5rem;

      @media (max-width: $media-breakpoint-desktop-mobile) {
        font-size: 1rem;
      }
    }
  }

}