@import '../../../../../sass/variables';

.render-artist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;

  &__thumbnail {
    display: inline-block;
    position: relative;
    cursor: pointer;

    &:hover {
      img {
        opacity: 0.7;
      }
    }

    &::after {
      content: "";
      display: block;
      padding-bottom: 100%;
    }

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      box-shadow: 0 1px 6px rgba(25, 25, 34, .16);
      border-radius: 50%;
      line-height: 0;
      text-indent: -999em;

      &::after {
        content: '';
        display: block;
        width: 100%;
        box-shadow: 0 1px 6px rgba(25, 25, 34, .16);
        background-image: url('../../../../../assets/img/webp/profile-placeholder-160x160.webp');
        background-position: center;
        background-size: cover;
        padding: 50% 0;
        position: relative;
      }
    }
  }

  &__description {
    margin: 0;
    margin-top: 5px;
    font-weight: 400;
    font-size: 14px;
    color: var(--color-primary);
    text-decoration: none;
    text-align: center;
    height: 20px;
    overflow-y: hidden;
  }

  &__details {
    font-weight: 400;
    font-size: 12px;
    color: $color-secondary;
    text-decoration: none;
    text-align: center;
    margin: 0;
  }
}