@import './../../../../../sass/variables';
@import './../../../../../sass/mixins';

.search-result {
  margin: 20px;

  h2 {

    @media (max-width: $media-breakpoint-desktop-mobile) {
      color: $color-main;
      font-weight: bold;
    }
  }

  &__type {

    button {

      @media (max-width: $media-breakpoint-desktop-mobile) {
        border: var(--color-border-1px);
        display: inline-flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        height: 30px;
        margin: 5px;
        padding: 10px 20px;
        border-radius: 20px;
        font-size: 15px;
        font-weight: 300;
        color: var(--color-primary);
        background: none;
        transition: all 0.4s;
      }
    }
  }

  &__results {

    &--tracks {
      &--titul {
        @media (max-width: $media-breakpoint-desktop-mobile) {
          font-size: 1.5rem;
          margin: 10px 0;
          color: var(--color-primary);
          font-weight: bold;
          display: flex;
          flex-direction: row;
          align-items: center;
          align-content: center;
        }
      }

      &--content {

        @media (max-width: $media-breakpoint-desktop-mobile) {
          font-size: 1.5rem;
          color: var(--color-primary);
          margin: 10px 0;
          display: flex;
          flex-direction: column;
          gap: 2rem;

        }
        button{
          @media (max-width: $media-breakpoint-desktop-mobile) {
            background: var(--background-secondary);
            border: var(--color-border-1px);
            border-radius: 20px;
            font-size: 1rem;
            padding: 7px;
            font-weight: bold;
  
          }
        }

      }
    }

    &--playlists {
      &--titul {
        @media (max-width: $media-breakpoint-desktop-mobile) {
          font-size: 1.5rem;
          margin: 10px 0;
          color: var(--color-primary);
          font-weight: bold;
          display: flex;
          flex-direction: row;
          align-items: center;
          align-content: center;
        }
      }

      &--content {

        @media (max-width: $media-breakpoint-desktop-mobile) {
          font-size: 1.5rem;
          color: var(--color-primary);
          margin: 10px 0;
          display: flex;
          flex-direction: column;
          gap: 2rem;

        }

        button{
          @media (max-width: $media-breakpoint-desktop-mobile) {
            background: var(--background-secondary);
            border: var(--color-border-1px);
            border-radius: 20px;
            font-size: 1rem;
            padding: 7px;
            font-weight: bold;
  
          }
        }

      }
    }

    &--albums {
      &--titul {
        @media (max-width: $media-breakpoint-desktop-mobile) {
          font-size: 1.5rem;
          margin: 10px 0;
          color: var(--color-primary);
          font-weight: bold;
          display: flex;
          flex-direction: row;
          align-items: center;
          align-content: center;
        }
      }

      &--content {

        @media (max-width: $media-breakpoint-desktop-mobile) {
          font-size: 1.5rem;
          color: var(--color-primary);
          margin: 10px 0;
          display: flex;
          flex-direction: column;
          gap: 2rem;

        }

        button{
          @media (max-width: $media-breakpoint-desktop-mobile) {
            background: var(--background-secondary);
            border: var(--color-border-1px);
            border-radius: 20px;
            font-size: 1rem;
            padding: 7px;
            font-weight: bold;
  
          }
        }

      }
    }

    &--artists {
      &--titul {
        @media (max-width: $media-breakpoint-desktop-mobile) {
          font-size: 1.5rem;
          margin: 10px 0;
          color: var(--color-primary);
          font-weight: bold;
          display: flex;
          flex-direction: row;
          align-items: center;
          align-content: center;
        }
      }

      &--content {

        @media (max-width: $media-breakpoint-desktop-mobile) {
          font-size: 1.5rem;
          color: var(--color-primary);
          margin: 10px 0;
          display: flex;
          flex-direction: column;
          gap: 2rem;

        }
        button{
          @media (max-width: $media-breakpoint-desktop-mobile) {
            background: var(--background-secondary);
            border: var(--color-border-1px);
            border-radius: 20px;
            font-size: 1rem;
            padding: 7px;
            font-weight: bold;
  
          }
        }

      }
    }
  }

  

  a:-webkit-any-link {
    text-decoration: none;
  }
}












.render-track {
  display: flex;
  flex-direction: row;
  gap: 1rem;
 

  &__thumbnail {
    img {
      @media (max-width: $media-breakpoint-desktop-mobile) {
        width: 100px;
        border-radius: 15px;
      }
    }
  }

  &__data {

    @media (max-width: $media-breakpoint-desktop-mobile) {
      display: flex;
      flex-direction: column;
    }

    &__name {

      @media (max-width: $media-breakpoint-desktop-mobile) {
        font-size: 1rem;
        color: var(--color-primary);
        font-weight: bold;
      }
    }

    &__artists {

      @media (max-width: $media-breakpoint-desktop-mobile) {
        font-size: 1rem;
        color: var(--color-primary);
      }
    }
  }
}