@import '../../../../../sass/variables';

.mobile-search {
  margin: 0 auto;
  padding: 0;
  padding-top: 4px;

  &__title {
    display: inline;
    margin: 0 18px;
    font-size: 32px;
    font-family: 'Anek Gujarati', sans-serif;
  }

  &__input {
    display: flex;
    position: relative;
    margin: 0 18px;

    input {
      width: 100%;
      border: none;
      border-radius: 20px;
      -webkit-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.15);
      -moz-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.15);
      box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.15);
      padding: 15px 40px;
      font-size: 20px;
    }

    span {
      display: flex;
      position: absolute;
      align-items: center;
      color: black;
      top: 0px;
      bottom: 0px;
      left: 10px;
    }
  }

  h1 {
    margin: 0 18px;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin: 0 18px;
    margin-bottom: 3rem;

  }

}