@import '../../../../../sass/variables';
@import '../../../../../sass/mixins';

.popupAddPlaylistBComponent {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.popupAddPlaylistBComponent-container {
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background-color: var(--background-primary);
  border: var(--color-border-1px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 16px;
  border-radius: 4px;
  width: 80vw;
  height: 70vh;

  .player-mobile-add-to-playlist {

    &__btn {
      background: none;
      border: none;
      font-size: 1.5rem;
      color: inherit;
      cursor: pointer;
      margin-bottom: 1rem;
      margin-left: 0;
    }

    &__add {
      color: $color-main;
      font-weight: bolder;
      display: flex;
      align-items: center;

      button {
        background: none;
        border: none;
        font-size: 1.5rem;
        color: inherit;
        cursor: pointer;

        display: flex;
        flex-direction: row;
        align-items: center;
      }
      &__icon{
        font-size: 2rem;
      }
    }
  }
}

.render-playlist-mini {
  display: flex;
  flex-direction: row;
  align-items: start;
  margin: 0.5rem;
  gap: 1rem;
  margin-top: 2rem;
  color: var(--color-primary);

  &__thumbnail {
    &__img {
      width: 90px;
      border-radius: 10px;
    }
  }

  &__info {
    &__name {
      font-weight: bold;
    }
  }
}

.render-playlist-mini-container{
  height: 500px; 
  overflow: scroll;
  overflow-x: hidden;
}