@import '../../../../../sass/variables';
@import '../../../../../sass/mixins';

.popupAddPlaylist-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 30;
}

.popupAddPlaylistBComponent {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 40;

  &__container {
    width: min(87%, 480px);
    height: 70vh;
    padding: 16px;
    background-color: var(--background-primary);
    border: var(--color-border-1px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }


  .player-mobile-add-to-playlist {

    &__btn {
      background: none;
      border: none;
      font-size: 1.5rem;
      color: inherit;
      cursor: pointer;
      margin-bottom: 1rem;
      margin-left: 0;
    }

    &__add {
      color: $color-main;
      font-weight: bolder;
      display: flex;
      align-items: center;

      button {
        background: none;
        border: none;
        font-size: 1.5rem;
        color: inherit;
        cursor: pointer;

        display: flex;
        flex-direction: row;
        align-items: center;
      }

      &__icon {
        font-size: 2rem;
      }
    }
  }
}

.render-playlist-mini {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0.5rem;
  gap: 1rem;
  color: var(--color-primary);
  cursor: pointer;

  &__thumbnail {
    &__img {
      width: 90px;
      border-radius: 10px;
    }
  }

  &__info {
    &__name {
      font-weight: bold;
    }
  }
}

.render-playlist-mini-container {
  height: calc(70vh - 102px);
  overflow: auto;
  overflow-x: hidden;
  margin-top: 1rem;

  .render-playlist-mini:not(:last-child) {
    margin-bottom: 1rem;
  }
}