@import '../../../../../sass/variables.scss';

.side-bar {
  position: fixed;
  width: 212px;
  height: 270px;
  margin: 0;
  top: 0;
  left: 0;
  bottom: 0;
  height: calc(100vh - 80px);
  border-right: var(--color-border-1px);
  background-color: var(--background-secundary);
  z-index: 10;

  &-header {
    color: var(--color-primary);

    &__logo {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 10px;

      img {
        width: 120px;
      }
    }

    &__sections {
      margin-top: 50px;

      &--options {
        display: flex;
        align-content: center;
        text-decoration: none;
        font-size: 15px;
        height: 50px;
        color: var(--color-primary);

        p {
          margin: 0;
          margin-left: 10px;
        }

        &__icon {
          margin-left: 20px;

          &--dropdown {
            margin-left: 35px;
            color: $color-secundary;
            font-size: 12px;
          }
        }

        &__decoration {
          height: 24px;
          width: 3px;
          background-color: $color-main;
          visibility: hidden;
        }
      }
    }
  }

  .active {
    color: $color-main !important;

    .side-bar-header__sections--options__decoration {
      visibility: visible;
    }

    .side-bar-header__sections--dropdown__link--icon {
      color: $color-main;
    }
  }
}
