@import "../../../../sass/variables";

.genre-page {
  margin: 2rem;

  &__title {
    font-size: 2rem;
    color: $color-main;
  }

  &__sectiont {
    &__title {
      margin-bottom: 3rem;
    }

    &__content {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-gap: 1rem;
      margin-bottom: 5rem;
      width: 100rem;
      gap: 3rem;
    }

   @media screen and (max-width: 768px) {
    &__content {
      grid-template-columns: repeat(2, 1fr);
      width: 100%;
    }
  } 
  }

}