@import "../../../../sass/variables";
@import "../../../../sass/animation";

.albums-page-content {

	h1 {
		font-size: 25px;
	}

	&__grid {
		display: grid !important;
		grid-template-columns: repeat(5, 1fr);
		@include fadeIn();
	}

}