@import "../../../../sass/";

.albums-page-content {
  margin: 0 auto;
  padding: 34px;
  padding-top: 10px;
  max-width: 1504px;

  @media (max-width: $media-breakpoint-desktop-mobile) {
    padding: 18px;
    padding-top: 0;
  }

  h1 {
    text-transform: capitalize;
    font-size: 24px;
    font-family: "Anek Gujarati", sans-serif;
    margin: 15px 0;
  }

  &__grid {
    display: grid !important;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    @include fadeIn();


    @media (max-width: 1300px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 480px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__mobile {
    display: inline-flex;
    align-items: center;
    height: 56px;
    color: var(--color-primary);
    background: none;
    border: 0;
    cursor: pointer;
  }
}