@import '../../../../../../sass/';

.render-genre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
  pointer-events: none;

  @media (max-width: $media-breakpoint-desktop-mobile) {
    margin: 5px;
  }

  &__thumbnail {
    display: inline-block;
    position: relative;

    &:hover {
      img {
        opacity: 0.7;
      }
    }

    img {
      width: 100%;
      box-shadow: 0 1px 6px rgba(25, 25, 34, .16);
      border-radius: 4px;
    }

    &--description {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      font-size: 24px;
      font-weight: 700;
      color: #fff;
      text-decoration: none;
    }
  }
}